<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <% if @user.id == current_user.id %>
  <!--current_userについては10章,確認問題は主キーをもつものでしかcurrent_user.の後に続けないようにする。同じ名前、同じ画像はあり得ることだからX。-->
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <!--質問→/users/2/editをurlに入れるとログインなしでも編集できてしまう=> .idを入れることで解決？-->
  <% end %>
</div>

<!--ユーザーの投稿一覧-->

<%= render 'post_images/list', post_images: @post_images %>